# MongoDB Atlas
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/marche_sani_fere_pro?retryWrites=true&w=majority

# Secret Key pour JWT
SECRET_KEY=votre_secret_key_ultra_securise

# Orange Money API (à configurer plus tard)
ORANGE_MONEY_API_KEY=votre_cle_api_orange_money
ORANGE_MONEY_MERCHANT_ID=votre_merchant_id
